<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node JS</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background-color: rgb(57, 55, 52);
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>Главный страница</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor libero sit
      quae aspernatur vel blanditiis sed voluptatem dignissimos ea, accusamus
      laboriosam soluta repudiandae maiores minima. Eligendi odio nisi aperiam
      distinctio!
    </p>
  </body>
</html>
